<div class="w-[347px] w768:w-full h-14 bg-[#121212] bg-opacity-80 gap-2 flex flex-row justify-start items-center p-3 rounded-[15px]">
    <div class="w-[10%] flex justify-center items-center"><img class="w-[30px]" src="{{skills.logo}}" alt="{{skills.skillName}}"></div>
    <div class="w-[90%] h-8 bg-[#242424] bg-opacity-50 rounded-[20px]">
        <div [ngStyle]='{ background : skills.bgColor, width : skills.percent }' class="h-8 rounded-[20px]">
            <h1 class="text-white flex justify-center items-center h-full text-lg font-medium">%{{skills.percentValue}}</h1>
        </div>
    </div>
</div>
