<div class="w-full min-h-[150px] py-6 flex flex-col gap-5 justify-start items-start mt-6" id="about">
    <app-headtext header="About"></app-headtext>

    <div class="">
        <div class="w950:w-[60vw] shadow-2xl w400:w-[75vw] w-[650px] w560:p-4 p-6 ml-[16.6vw] bg-white bg-opacity-[0.15] rounded-tl-[20px] border-solid border-[2px] border-opacity-50 border-[#5C8374] z-20">
            <h1 class="text-lg text-white font-light"><span class="importent-text2">Yusuf Güngörür</span> is a software developer candidate who has been interested in software for more than two years and tries to improve himself every day. <br><br> He started software in 2019 by making games with <span class="importent-text">Unreal Engine 4</span> and continued to develop <span class="importent-text">desktop programs</span> for a while. Finally, he decided to become a <span class="importent-text2">full-stack</span> developer from that day on. Until now, he continues to improve himself in the <span class="importent-text">Junior-Middle</span> league.</h1>            
        </div>
    </div>
</div>